.editionButtonClass {
	list-style-image: url("chrome://cardbook/skin/editionIcons.png");
	min-width: 36px !important;
	max-width: 36px !important;
	min-height: 24px !important;
	max-height: 24px !important;
}

.editionButtonClass[buttonType="add"] {
	-moz-image-region: rect(0 24px 24px 0);
}

.editionButtonClass[buttonType="add"][disabled="true"] {
	-moz-image-region: rect(0 48px 24px 24px);
}

.editionButtonClass[buttonType="remove"] {
	-moz-image-region: rect(0 72px 24px 48px);
}

.editionButtonClass[buttonType="remove"][disabled="true"] {
	-moz-image-region: rect(0 96px 24px 72px);
}

.editionButtonClass[buttonType="up"] {
	-moz-image-region: rect(0 120px 24px 96px);
}

.editionButtonClass[buttonType="up"][disabled="true"] {
	-moz-image-region: rect(0 144px 24px 120px);
}

.editionButtonClass[buttonType="down"] {
	-moz-image-region: rect(0 168px 24px 144px);
}

.editionButtonClass[buttonType="down"][disabled="true"] {
	-moz-image-region: rect(0 192px 24px 168px);
}

.editionButtonClass[buttonType="switch"] {
	-moz-image-region: rect(0 216px 24px 192px);
}
